<!DOCTYPE HTML>
<html>
	<head>
		<title>Image Dehazer</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="index.html">Project Demo <span>for Capstone Project</span></a></div>
				<a href="/video_demo" class="button special scrolly">Show Video Demo</a>
				
			</header>


		<!-- Banner -->
		<!--
			To use a video as your background, set data-video to the name of your video without
			its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
			formats to work correctly.
		-->
			<section id="banner" data-video="images/banner" >
				<div class="inner">
					<h1>Image Dehazer Application</h1>
					<p>A Flask Application backed by Artificial Intelligence<br />
					for automatic single image dehazing.</p>
					<a href="#one" class="button special scrolly">Let's Get Started</a>
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div>
						<div class="box">
							<div class="image fit">
								<img src="../static/images/1.jpg" alt="" />
							</div>
							<div class="content">
								<header class="align-center">
									<h2>Know our application</h2>
									<p>How does this app work?</p>
								
								<hr />
								<p> An image can be uploaded on the web app. A call to our Flask API is made .</p>
								<p>We use our trained GAN model to call the generate function on this image, and returns the dehazed image.Flask is used as the backend, with HTML/CSS for a responsive front end application.</p>
								<a href="{{ url_for('predict') }}" class="button special scrolly">Dehazer</a>
								</header>
							</div>
						</div>
					</div>
				</div>

			</section>

			
		
	<section id="two" class="wrapper style3">
				<div class="inner">
					<div id="flexgrid">
						<div>
							<header>
								<h3>Dataset</h3>
							</header>
							<p>NYU-v2 dataset for clean and hazed images.</p>
						</div>
						<div>
							<header>
								<h3>Method</h3>
							</header>
							<p>An attention based Generational Adverserial Network. A computer Vision project.</p>
						</div>
						<div>
							<header>
								<h3>Result</h3>
							</header>
							<p>A web application which returns a dehazed image.</p>
						</div>
					</div>
				</div>
			</section>
		
		<!-- Four -->
			<section id="four" class="wrapper style3">
				<div class="inner">

					<header class="align-center">
						<p> This Project is created by Mansi Parashar for her Bachelor's Thesis</p>
						
					</header>

				</div>
			</section>


		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/skel.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>